<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Node.jsによる気象情報閲覧システム</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Node.jsによる気象情報閲覧システム</h1>
    <ul>
      <%
	  if (mapInfos) {
		mapInfos.forEach(mapInfo => {
	  %>
		  <li><a href="/?location=<%= mapInfo.name %>"><%= mapInfo.name %></a></li>
	  <%
	    });
	  }
	  %>
	</ul>
	<% if (name) { %>
    <div><%= name %> = <%= current.description %></div>
	<% } %>
  </body>
</html>
