<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Node.jsによる気象情報閲覧システム</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Node.jsによる気象情報閲覧システム</h1>
	<img src="images/map.png" width="500" height="500">
	<% dataList.forEach(data => { %>
	<div>
		Name: <%= data.name %><br>
		Temp: <%= data.temp %><br>
		Min: <%= data.tempMin %><br>
		Max: <%= data.tempMax %><br>
	</div>
	<% }); %>
  </body>
</html>
