<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Node.jsによる気象情報閲覧システム</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Node.jsによる気象情報閲覧システム</h1>
	<div>
		名古屋 = <%=current%>
	</div>
  </body>
</html>
