body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.mapCard {
  position: absolute;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}